body{
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}

#main-frame{
    position: relative;
    overflow-x:inherit;
    height: 90%;
    margin: 5%;
}

#communication{
    min-height: 30vw;
    max-height: 30vw;
    height: 100%;
    padding: 1%;
    background-color: beige;
    overflow: auto;
    font-size: x-large;
}

#sender{
    background-color: grey;
    margin: 0% 15%;
    padding: 1%;
}

#command-input{
    width: 100%;
}

#header{
    color: red;
    text-align: center;
    font-size: 300%;
}

.responseMessage{
    margin : 0;
    font-weight: 600;
    padding-top: 1%;
}

.errorMessage{
    margin : 0;
    color : red;
    font-weight:600;
    padding-top: 1%;
}